@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  background-color: #fafafa;
  color: #333;
  font-family: "Lato";
  margin: 0;
}


.content {
  max-width: $max-page-width;
  margin: 40px auto;
  padding: 20px;
  @include breakpoint(mobile) {
    margin-top: 10px;
  }
}

.btn {
  background: $color-primary;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 50px auto 0;
  text-transform: uppercase;
  transition: 0.2s all;
  height: 40px;
  width: 250px;
}